body{
    background: url(https://images.pexels.com/photos/7634158/pexels-photo-7634158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: fill ;
    background-size: center;
}
